

body {
    font-family: Arial, sans-serif;
    background-color: #ed1b1b69;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2rem 0; 
}

.logo {
    max-width: 150px; 
    height: auto;   
    margin-bottom: 0; 
}

.container {
    background: #fff;
    padding: 1rem  2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-sizing: border-box; 
   
   
}


header h1 , header p {
    color: #1c584ee8;
     margin: 0;
    
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    background-color: #f01d09;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65a50;
}

footer {
    margin-top: 2rem;
    font-size: 0.9em;
}

a {
    color: #f91a06;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.menu-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.menu-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
     box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.menu-item:hover {
    background-color: #e9ecef;
    transform: scale(1.02);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    animation: slideIn 0.3s;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn { from {opacity: 0;} to {opacity: 1;} }
@keyframes slideIn { from {transform: translateY(-50px);} to {transform: translateY(0);} }